<a href="https://colab.research.google.com/github/ibsenvillarroel/Credit-Card-Fraud-Detection-ML-/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
  import numpy as np
  import pandas as pd 
  from sklearn.model_selection import train_test_split
  from sklearn.linear_model import LogisticRegression
  from sklearn.metrics import accuracy_score

In [76]:
#Loading the dataset to a Pandas DataFrame 
#Cargando la data a un DataFrame de Pandas

credit_card_data = pd.read_csv('/content/drive/MyDrive/creditcard.csv')

In [77]:
#First 5 rows of the dataset 
#Las primeros 5 filas del dataset

credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

####The amounts are expressed in $ and the class tells us if it was fraudulent or not

####Los montos estan expresados en $ y la clase nos indica si fue fraudulento o no

In [78]:
#Last 5 rows
#Ultimas 5 filas 

credit_card_data.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [79]:
#dataset information 
#Informacion del dataset

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

####There are no null values ​​in any of the columns 
####No hay valores nulos en ninguna de las columnas

In [80]:
#Distribution of legit transactions and fraudulent transactions 
#La distribucion de transacciones legitimas o fraudulentas 

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

####The 99.83% of the data is legit, so this dataframe is highly unbalanced 
####El 99.83% de la data es legitimo , asi que este dataframe esta muy desbalanceado

In [81]:
#Separating the data for analysis 
#separando la data para analisis

legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [82]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [83]:
#statistical mesures for the data 
#medidas estadisticas para la data 

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [84]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

####we can see how the fraudulent mean is above of the legit mean 
####Podemos observar como la media fraudulenta esta sobre la media legitima

In [85]:
#Compare the values for both transactions 
#Comparamos los valores para ambas transacciones

credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Lets build a sample dataset containing similar distribution of normal transactions and fraudulent transactions 

Vamos a construir datasets con distribucion similar a las legitimas y las fraudulentas

In [86]:
legit_sample = legit.sample(n=492)

In [87]:
#cocatenatig the dataframe 
#concatenamos los datarame

new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [88]:
print(new_dataset.head())
print(new_dataset.tail())

            Time        V1        V2  ...       V28  Amount  Class
217194  140800.0 -1.660806  1.074850  ... -0.230955   30.24      0
116710   74398.0  0.724417 -0.988663  ...  0.050888  247.00      0
154944  103750.0 -0.057922  1.240281  ... -0.180151    7.56      0
84193    60201.0 -1.334995  1.694884  ... -0.107823   38.00      0
216562  140532.0  2.267534 -1.476301  ... -0.059689   15.80      0

[5 rows x 31 columns]
            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [89]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

Ahora tenemos la data balanceada uniformemente

In [90]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      93332.678862 -0.052172 -0.174805  ...  0.021187 -0.020034  107.649797
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Es similar a los valores originales

Splitting the data into features and targets

In [91]:
X = new_dataset.drop(columns='Class', axis=1)
y = new_dataset['Class']

print(X)
print(y)

            Time        V1        V2  ...       V27       V28  Amount
217194  140800.0 -1.660806  1.074850  ...  0.159893 -0.230955   30.24
116710   74398.0  0.724417 -0.988663  ...  0.034550  0.050888  247.00
154944  103750.0 -0.057922  1.240281  ... -0.272374 -0.180151    7.56
84193    60201.0 -1.334995  1.694884  ... -0.377631 -0.107823   38.00
216562  140532.0  2.267534 -1.476301  ...  0.021167 -0.059689   15.80
...          ...       ...       ...  ...       ...       ...     ...
279863  169142.0 -1.927883  1.125653  ...  0.292680  0.147968  390.00
280143  169347.0  1.378559  1.289381  ...  0.389152  0.186637    0.76
280149  169351.0 -0.676143  1.126366  ...  0.385107  0.194361   77.89
281144  169966.0 -3.113832  0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0  1.991976  0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]
217194    0
116710    0
154944    0
84193     0
216562    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [92]:
#split the data into training data and testing data 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

In [93]:
#verificamos nuestra data 
print(X.shape, X_train.shape, X_test.shape)
print(y.shape, y_train.shape, y_test.shape)

(984, 30) (787, 30) (197, 30)
(984,) (787,) (197,)

###Aplied logistic regression for binary clasification problem 
###Aplicamos regresion logistica para problemas de clasificacion binarios

In [94]:
model = LogisticRegression()

In [95]:
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [96]:
#acuracy on training data
X_train_prediction = model.predict(X_train)
training_data_acuracy = accuracy_score(X_train_prediction, y_train)

In [97]:
print('Acuracy on Training Data:', training_data_acuracy)

Acuracy on Training Data: 0.9453621346886912

In [99]:
#Acuracy on test data 
X_test_prediction = model.predict(X_test)
test_data_acuracy = accuracy_score(X_test_prediction, y_test)

In [101]:
print('Acuracy score on Test Data:', test_data_acuracy)

Acuracy score on Test Data: 0.934010152284264

In [ ]:
#Apesa de que el % de prediciion es alto debemos probar otro modelo predictivo ya que ene ste depreciamos una gran cantidad de data